<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
<link rel="icon" type="image/png" href="/img/favicon.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Clinica Pacifico del Norte</title>

<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
	name='viewport' />
<!--     Fonts and icons     -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

<!-- CSS Files -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/material-kit.css" rel="stylesheet" />

</head>
<body>

	<div class="container">
	
	
	

		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid" style="background: #9c27b0;">
				<div class="navbar-header">
					<a class="navbar-brand" href="#" style="color: #fff">Empresas
						aseguradoras</a>
				</div>
			</div>
		</nav>

		<div class="row">
			<div class="col-xs-12 col-md-12">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th>Nombre</th>
							<th>Direccion</th>
							<th class="text-right">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="afiliadora : ${afiliadoras}">
							<td class="text-center" th:text="${afiliadora.id}"></td>
							<td th:text="${afiliadora.nombre}"></td>
							<td th:text="${afiliadora.direccion}">Develop</td>
							<td class="td-actions text-right">
								<div style="form {display: block; float: left;">

									<form action="/afiliadora/editar" method="post">
										<input type="hidden" name="id" th:value="${afiliadora.id}" />
										<button type="submit"  title="Editar"
											class="btn btn-success btn-simple btn-xs">
											<i class="fa fa-edit"></i>
										</button>

										<button type="submit"  title="Eliminar"
											formaction="/afiliadora/eliminar"
											class="btn btn-danger btn-simple btn-xs">
											<i class="fa fa-times"></i>
										</button>
									</form>



								</div>
							<td class="td-actions text-right">
						</tr>

					</tbody>
				</table>

			</div>

		</div>

	</div>
	<script src="/js/jquery.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/material.min.js"></script>

</body>
</html>