<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Listar pacientes</title>
</head>

<body>
	<h1>Listado de pacientes</h1>
	<table>
		<thead>
			<tr>
				<td>Id</td>
				<td>Nombres</td>
				<td>Apellido Paterno</td>
				<td>Apellido Materno</td>
				<td>DNI</td>
				<td>Fecha de Nacimiento</td>
				<td>Telefono fijo</td>
				<td>Celular</td>
				<td>Direccion</td>
				<td>Correo</td>
			</tr>
		</thead>

		<tr th:each="paciente : ${pacientes}">
			<td><a href="#" th:text=${paciente.id}></a></td>
			<td th:text="${paciente.nombres}"></td>
			<td th:text=${paciente.apellidoPaterno}></td>
			<td th:text=${paciente.apellidoMaterno}></td>
			<td th:text=${paciente.fechaNacimiento}></td>
			<td th:text=${paciente.telefono_fijo}></td>
			<td th:text=${paciente.celular}></td>
			<td th:text=${paciente.direccion}></td>
			<td th:text=${paciente.correo}></td>
		</tr>
	</table>
</body>
</html>
